.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 1rem 0;

  &__fin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 0;
  }
}

.category {
  width: 2.25rem;
  color: #bdc6d8;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  color: #bdc6d8;
  display: inline-block;
  width: 4rem;
}

.value {
  color: rgb(33, 32, 39);
  display: inline-block;
  margin-left: 1rem;
  font-size: 1rem;
}
