.deadlinearea {
  margin-top: 0.25rem;
  color: #f23c4c;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: center;

  &__icon {
    margin-right: 0.5rem;
  }
}

.buttonarea {
  display: flex;
  gap: 0.5rem;
}

.fixedarea {
  z-index: 50;
  position: fixed;
  right: 2rem;
  left: auto;
}

.mockarea {
  margin-left: 1rem;
  min-width: 22rem;
  width: 22rem;
}
